.faq-conteentbox {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.faq-conteentbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #1e88ff, #f824ff);
    transform: skewY(-5deg);
    transform-origin: bottom left;
    z-index: -1;
    animation: bgSlide 1s ease forwards;
}

/* 右から左に開く */
@keyframes bgSlide {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.faq-conteentbox .content-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: clamp(32px, 3.2vw, 48px);
    text-align: center;
    padding-top: 14%;
    padding-bottom: 6%;
}

.title-md {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
}

.faq-answer {
    padding-left: 10px;
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 2s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq-tabs .faq-button.active {
    background-color: var(--primary-300);
    border-bottom: 2px solid var(--primary);
    text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 30px var(--primary);

}

#faq-button {
    display: flex;
    justify-content: center;
    position: relative;
}

/* ボタン本体 */
.faq-button {
    margin: 10px;
    position: relative;
    display: inline-block;
    background-color: var(--primary-700);
    padding: 0 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 60px 16px 60px;
    /* padding: 14px 68px 14px 40px; */
    border-radius: 999px;
    text-decoration: none;
    transition: transform .2s ease, box-shadow .2s ease;
}

/* ホバー時の効果 */
.faq-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.glow-text {
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 30px var(--primary);
}

.hover-zoom {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .faq-container {
        display: flex;
        justify-content: center;

    }

    .faq-button {
        text-align: center;
        padding: 30px;
    }
}